.log-container {
  margin: 80px;
  padding: 40px 60px;
  background-color: rgb(248, 245, 245);
  border-radius: 10px;
}

.log-container h1 {
  display: inline;
}
.log-container a {
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-decoration: none;
  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */
  font-weight: 600;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2em;
  margin-left: 100%;
  transform: translateY(-36px);
}
.log-container a:hover {
  background-color: rgb(75, 75, 75);
}

.log-display {
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: rgb(238, 236, 236);
}
.log-display h1 {
  margin-left: 42%;
}

.entries-container {
  max-height: 500px;
  overflow: auto;
}
.log-display-load {
  display: none;
}

.log-display .fixed-text {
  position: sticky;
}

.start-date {
  width: 100px;
}
.end-date {
  width: 100px;
  margin-left: 4px;
}

.search-button {
  margin-bottom: 20px;
  margin-top: 10px;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stats-subtext {
  font-weight: normal;
}

.graph {
  padding: 20px 150px;
  background-color: rgb(238, 236, 236);
  margin-top: 50px;
  border-radius: 10px;
  text-align: center;
}

.graph h1 {
  margin-left: 20px;
}

.graph h3 {
  text-align: center;
}

.select-category {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 100%;
}

.long-break {
  height: 20px;
}

.x-long-break {
  height: 50px;
}

@media only screen and (max-width: 990px) {
  .graph {
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
  }
}
