.log-container {
  margin: 80px;
  padding: 20px;
  background-color: rgb(248, 245, 245);
  border-radius: 10px;
}

.log-display {
  overflow: auto;
  max-height: 500px;
}
.log-display-load {
  display: none;
}

.start-date {
  width: 100px;
}
.end-date {
  width: 100px;
  margin-left: 4px;
}

.search-button {
  margin-bottom: 20px;
  margin-top: 10px;
}
