.log-container {
  margin: 100px;
  padding: 40px;
  background-color: rgb(248, 245, 245);
  border-radius: 10px;
}

.log-display {
  overflow: auto;
  max-height: 500px;
}

.start-date {
  width: 100px;
}
.end-date {
  width: 100px;
  margin-left: 4px;
}
